* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header .names {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header .names div:nth-child(1) {
  color: green;
}
header .names div:nth-child(3) {
  color: red;
}
header .scores {
  display: flex;
  justify-content: center;
}
header .scores span {
  padding: 10px;
}
header .scores span:nth-child(1) {
  color: green;
}
header .scores span:nth-child(3) {
  color: red;
}

header div {
  padding: 10px;
}

header div, .modal-content > span, .modal-content::after {
  font-size: 32px;
}
@media (min-width: 400px) {
  header div, .modal-content > span, .modal-content::after  {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  header div, .modal-content > span, .modal-content::after  {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  header div, .modal-content > span, .modal-content::after  {
    font-size: 56px;
  }
}
@media (min-width: 1024px) {
  header div, .modal-content > span, .modal-content::after  {
    font-size: 64px;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
main article.board {
  width: 80vw;
  height: 80vw;
  max-width: 750px;
  max-height: 750px;
}
main article.board .row {
  display: flex;
  height: 33.33%;
  width: 100%;
}
main article.board .row:not(:first-child) {
  border-top: 4px solid black;
}
main article.board .row .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 20vw, 180px);
}
main article.board .row .box:not(:first-child) {
  border-left: 4px solid black;
}
button {
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 48px;
  text-decoration: none !important;
  list-style-type: none;
}

a:link {
  text-decoration: none !important;
  list-style-type: none;
}

/* bandau modal stuff */

/* Add these styles */

.modal {
    /*display: none;*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    max-width: 1315px;
    padding: 50px 20px;
    width: 90%;
    border: 1px solid #888;
}


.modal-content::after {
    content: ".";
    animation: dotAnimation 1.5s infinite;
}

@keyframes dotAnimation {
    0%, 100% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
}