<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="../static/game.css">
    <link rel="icon" type="image/png" href="/static/tic-tac-toe.png">
</head>
<body>

    <div class="modal">
        <div class="modal-content">
            <span class="modal-text">Waiting for the other player turn<span class="dots"></span></span>
        </div>
    </div>


    <header>
        <div class="names">
            <span class="player1">???</span>
            <span class="vs">vs</span>
            <span class="player2">???</span>
        </div>
        <div class="scores">
            <span class="firstScore">0</span>
            <span>:</span>
            <span class="secondScore">0</span>
        </div>
    </header>
    <main>
        <article class="board">
            <div class="row">
                <div class="box box1"></div>
                <div class="box box2"></div>
                <div class="box box3"></div>
            </div>
            <div class="row">
                <div class="box box4"></div>
                <div class="box box5"></div>
                <div class="box box6"></div>
            </div>
            <div class="row">
                <div class="box box7"></div>
                <div class="box box8"></div>
                <div class="box box9"></div>
            </div>
        </article>
    </main>

    <button class="playAgain" disabled>Play Again</button>

    <button class="logout">Log out</button>

    <script src="./../static/game.js"></script>

</body>
</html>