<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="/static/tic-tac-toe.png">
</head>
<body>

<!--    <div class="nameModal" id="myModal">-->
<!--        <div class="nameModal-content">-->
<!--            <div class="greetings">Greetings and welcome!</div>-->
<!--            <label for="nameInput">You're about to participate in an exciting game of tic-tac-toe with me. The moment you input your name, I'll receive a notification on my app called "ntfy" that someone is waiting for me to join</label>-->
<!--            <input type="text" id="nameInput" placeholder="Your Name" oninput="toggleButton()">-->
<!--            <button id="saveButton" onclick="saveName()" disabled>Save</button>-->
<!--        </div>-->
<!--    </div>-->

    <div class="modal">
        <div class="modal-content">
            <span class="modal-text">Waiting for the other player turn<span class="dots"></span></span>
        </div>
    </div>


    <header>
        <div class="names">
            <div class="player1">Aleksis</div>
            <div>vs</div>
            <div class="player2">?</div>
        </div>
        <div class="scores">
            <span>0</span>
            <span>:</span>
            <span>0</span>
        </div>
    </header>
    <main>
        <article class="board">
            <div class="row">
                <div class="box box1"></div>
                <div class="box box2"></div>
                <div class="box box3"></div>
            </div>
            <div class="row">
                <div class="box box4"></div>
                <div class="box box5"></div>
                <div class="box box6"></div>
            </div>
            <div class="row">
                <div class="box box7"></div>
                <div class="box box8"></div>
                <div class="box box9"></div>
            </div>
        </article>
    </main>

    <a href="">
        <button class="gameButton">restart the game</button>
    </a>

    <script src="./../static/index.js"></script>

</body>
</html>