<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="../static/styles.css">
<!--    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/essenstial-ultimate-ui/64/tic_tac_toe-1024.png">-->
   <link rel="icon" type="image/png" href="/static/tic-tac-toe.png">
</head>
<body>
        <!-- Add this inside your <body> tag -->
        <div class="modal">
            <div class="modal-content">
                <span>Waiting for the other player turn<span class="dots"></span></span>
            </div>
        </div>

    <header>
        <div class="names">
            <div>Alex</div>
            <div>vs</div>
            <div>Godfrey</div>
        </div>
        <div class="scores">
            <span>0</span>
            <span>:</span>
            <span>0</span>
        </div>
    </header>
    <main>
        <article class="board">
            <div class="row">
                <div class="box box1"></div>
                <div class="box box2"></div>
                <div class="box box3"></div>
            </div>
            <div class="row">
                <div class="box box4"></div>
                <div class="box box5"></div>
                <div class="box box6"></div>
            </div>
            <div class="row">
                <div class="box box7"></div>
                <div class="box box8"></div>
                <div class="box box9"></div>
            </div>
        </article>
    </main>

    <a href="">
        <button class="gameButton">restart the game</button>
    </a>

    <script src="./../static/script.js"></script>

</body>
</html>